@charset "utf-8";
/* 폰트추가 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* 공통속성 */
*{padding: 0; margin: 0;}
body{font-family: 'Noto Sans KR', sans-serif;}

/* layout */
#wrap{width: 100%; height: 100%; margin: 0 auto;}
#skip{display: none;}

.headerwrap{width: 100%; background-color: #1c1729;}
.headerwrap .header_utill{max-width: 1400px; height: auto; margin: 0 auto; position: relative; min-width: 525px;}

/* pc화면 상단nav */
.headerwrap .header_utill .pc .portal{width: auto; height: 41px; background:url(../img/icn_link_portal.png)no-repeat 20px 7px; display: block; float: left; position: relative;}
.headerwrap .header_utill .pc .portal a{color: #fff; display: inline-block; padding: 6px 24px; display: inline-flex; background: #756ab7 ; line-height: 1.5; font-size: 16px;} 
.headerwrap .header_utill .pc .portal a::before{content: ''; background: url(../img/icn_link_portal.png) no-repeat; width: 28px; height: 28px; display: inline-block;}

.headerwrap .header_utill .pc .container{display: block; width: 100%; text-align: right;}
.headerwrap .header_utill .pc .container li{display: inline-block; position: relative;}
.headerwrap .header_utill .pc .container li a{width: 70px; height: auto; text-align: center;}
.headerwrap .header_utill .pc .container li:nth-child(1){border-left: 1px solid #ddd;}
.headerwrap .header_utill .pc .container li:nth-child(2){border-left: 1px solid #ddd;}
.headerwrap .header_utill .pc .container li:nth-child(3){border-left: 1px solid #ddd;}
.headerwrap .header_utill .pc .container li.lang>a:first-child{background: #291659 url(../img/icn_lang_box.png) no-repeat 20px 50%; width: 140px; padding-left: 20px;display: block; }
.headerwrap .header_utill .pc .container li.lang{z-index: 5;}
.headerwrap .header_utill .pc .container li.lang div{position: absolute;  width: 100%; height: auto; display: grid;}
.headerwrap .header_utill .pc .container li.lang>div>a{width: 100%; height: 0; background: #291659; color: #fff; }
.headerwrap .header_utill .pc .container li.lang:hover>div>a{height: 30px; transition: .3s; text-transform: uppercase;}

.headerwrap .header_utill .pc .container li a i{background: url(../img/arr_lang_down.gif) no-repeat; width: 12px; height: 9px;display: inline-block; margin-left: 5px; transition: .3s;}
.headerwrap .header_utill .pc .container li:last-child:hover a i{background: url(../img/arr_lang_down.gif) no-repeat; transform: rotate(180deg); width: 12px; height: 9px; display: inline-block; margin-left: 5px;}

.headerwrap .header_utill .pc .container li>a{padding: 10px 5px; display: inline-block;  color: #fff; }

/* 모바일화면 상단nav */
.mobile{padding: 15px 5px; display: none;}
.mobile .menu_list_btn{ max-width: 525px;}
.headerwrap .header_utill .mobile .menu_list_btn .lang>a:first-child{background: #291659 url(../img/icn_lang_box.png) no-repeat 20px 50%; width: 140px; padding-left: 20px;display: none; }
.headerwrap .header_utill .mobile .menu_list_btn .lang{z-index: 5; display: none; text-align: center; padding: 5px 0; position: relative;} 
.headerwrap .header_utill .mobile .menu_list_btn .lang>a{color: #fff; padding: 5px 0;} 
.headerwrap .header_utill .mobile .menu_list_btn .lang>div{position: absolute;  width: 100%; display: grid; height: auto;}
.headerwrap .header_utill .mobile .menu_list_btn .lang>div>a{width: 12em; height: 0; background: #291659; color: #1c1729;}
.headerwrap .header_utill .mobile .menu_list_btn .lang:hover>div>a{height: 30px; transition: .3s; color: #fff; }
.headerwrap .header_utill .mobile .menu_list_btn .lang a i{background: url(../img/arr_lang_down.gif) no-repeat; width: 12px; height: 9px;display: inline-block; margin-left: 5px; transition: .3s}
.headerwrap .header_utill .mobile .menu_list_btn .lang:hover a i{transform: rotate(180deg);}
#menu_list{display: none; background-color: #291659; color: #fff; border: none; text-align: center;}
.mobile .menu_list_btn>.lang>div{text-transform: uppercase;}


/* 댑스영역 */
.depth_wrap{width: 100%; background: #fff; height: auto; position: relative; display: flex; justify-content: space-between;}
.depth_wrap>.depth_area{width: 1400px; height:auto; margin: 15px auto; min-width: 525px; display: inline-flex; }

.logo{background: url(../img/logo.jpg) no-repeat; width: 218px; height: 43px;}
.depth_list>h1{display: none;}

.depth_list{ width: 100%; display: flex; justify-content: space-between; align-items: center; margin: 0 1em;}
.depth_list>ul>li>a>h2{font-size: 22px; font-weight: bold; display: inline-block; padding: 15px 15px}
.depth_list>ul>li>a:hover+.depth_height{height: 40em; z-index: 5;}
.depth_list>ul>li>a:hover+.depth_height>.depth_inner>.depth_main{display: block;}
.depth_list>ul>li>a:hover+.depth_height>.depth_inner>.depth_side{display: block;}
.site_map{background: url(../img/btn_sitemap.png)no-repeat; width: 52px; height: 52px;}
.site_map a{width: 100%; height: 100%; display: block;}

.depth_height{position: absolute; top: 93px; left: 0; height: 0; width: 100%; transition: .3s;}
.depth_inner{width: 1400px; height: 100%; margin: 0 auto; position: relative; display: flex;}
.depth_side, .depth_main{position: absolute; height: auto;}
.depth_side { left: 0; height: 100%; width: 33%; background:#756ab7; text-align: right; color: #fff; display: none;}
.depth_side>li{margin-right: 1em;}
.depth_side>li:first-child{font-size: 3em; margin-top: 2.5em;}
.depth_side>li:last-child{font-size: 2em; display: inline-block; width: 65%; margin-top: 1em;}
.depth_main {background: #fff; top: 0; right: 0; height: 100%; width: 67%; display: none;}
.depth_main>ul {text-align: center; margin: 0 5px 5px 5px; width: 22%; float: left;}
.depth_main>ul>li:not(.title){width: 60%; margin: 5px auto 0 auto; } 
.depth_title{background-color: #f5f2fc; font-size: 15px; padding: 10px 20px; width: 25%; color: #291659;}

/* 댑스메뉴 호버시 강조표시 */
.depth_list>ul>li>a{position: relative;}
.depth_list>ul>li>a::after{content: ''; background: url(../img/icn_a_1_active.png) no-repeat; width: 18px; height: 0px;display: inline-block; position: absolute; top: -1rem; left: 0; transition: all .2s;}
.depth_list>ul>li>a:hover:after{height: 13px;}

/* 모바일화면 뎁스 */
#sel_depth{width: 10em; height: 2.5em; background: #291659; color: white; border: none; border-radius: 15px; text-align: center; display: none; cursor: pointer;}
.headerwrap .header_utill .mobile .menu_list_btn .lang:hover a i{transform: rotate(180deg); width: 12px; height: 9px; display: none; margin-left: 5px; transition: .3s;}

/* 매인영역 */
/* 매인베너 */
#main{width: 100%; height: auto; position: relative; margin: 0 auto;}
.banner{height: 700px;}
.banner_inner {position: absolute; width: 100%; height: 700px; overflow: hidden;} 
.banner_inner ul {width: 100%;height: 100%;margin: 0 auto; position: relative;} 

/* 배너 양옆 화살표버튼 */
.banner_inner .left_Btn {position: absolute; top: 50%; left: 7em; transform: translateY(-50%); scale: 1.5; z-index: 50;} 
.banner_inner .right_Btn {position: absolute; top: 50%; right: 7em; transform: translateY(-50%); scale: 1.5; z-index: 1000;} 

/* 배너 이미지 */
.banner_inner ul li {width: 100%;height: 100%;font-size: 18px;position: absolute;top: 0; left: 0; opacity: 0;} 
.banner_inner ul li:first-child {opacity: 1;} 
.banner_inner ul li img{display: block; }

/* 배너 이미지 내의 텍스트 */
.banner_inner ul li>span{position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 4rem; font-weight: 700; color: white; width: 100%;}
.banner_inner ul li:nth-child(2)>span{color: #333;}

/* 배너 페이저 */
.banner_inner ul .pager{width: auto; height: 30px; position: absolute;bottom: 25%; left: 50%; transform: translateX(-50%);}
.banner_inner ul .pager span.on{width: 15px; height: 15px; background: #fff; border: 1px solid #fff; border-radius: 50%; display: inline-block;cursor: pointer;}
.banner_inner ul .pager span{border: 2px solid #fff; border-radius: 50%; width: 13px; height: 13px; display: inline-block; cursor: pointer;}
/* 배너 페이저 끝 */
/* 배너 끝 */

/* 퀵메뉴 */
/* 상단타이틀 */
.q_menu{position: fixed; top: 50%; right: 0; width: 370px; height: 300px; z-index: 999; text-align: center;}
.quick_menu{background: url(../img/bg_quick__menu.jpg)no-repeat; color: #ddd; position: absolute; top: 0; right: 0; text-align: center; padding:16px;}
.quick_menu>img{transition: all .5s;}
.quick_menu_remote{width: 100%; height: 100%; background: #291659; position: absolute; top: 90px; left: 370px; transition: all .5s;}
/* 하단메뉴 */
.quick_menu_remote ul{ height: 100%; padding: 1em;}
.quick_menu_remote ul li{width: 23%; display: inline-block; height: 25%;}
.quick_menu_remote ul li a{color: #ddd; font-weight: bold;}
/* 퀵 메뉴 끝 */

/* 메인탑 */
.main_top{width: 100%; height: 400px; position: relative; margin: 0 auto;}
.main_top .tale_text{position: absolute; top: -5rem; left: -1rem; background: url(../img/bg_main_text_pop.jpg)no-repeat; width: 60%; height: 100%; text-align: left; margin-left: 15px;}
.main_top .tale_text span{color: #fff;display: block; margin-left: 18rem;}
.main_top .tale_text span:first-child{font-size: 3rem; font-weight: bold; margin-top: 2rem;}
.main_top .tale_text span>a{display: flex; line-height: 2.5; color: #fff;width: 75%;}
.main_top .tale_text span>a:hover>.half_arr{margin-left: 3rem;}
.main_top .tale_text span:nth-child(2){font-size: 2.5rem;}
.main_top .tale_text span:nth-child(3){font-size: 30px;}
.main_top .tale_text span:nth-child(4){font-size: 16px;padding-top: 3rem;}
.main_top .tale_text span>a>.half_arr{background: url(../img/icn_circle_arr.png)no-repeat; display: block; width: 58px; height: 40px; margin-left: 1rem; transition: all .3s;}

.main_top .content_third{position: absolute; top: 0; right: 10rem; height: 58%; width: 33%;}
.main_top .content_third ul{padding: 4rem 2rem 4rem 4rem; display: flex; justify-content: space-between; margin-right: 2rem; }
.main_top .content_third ul li{z-index: 1000; height: 100%;text-align: center; margin-left: 1rem;}
.main_top .content_third ul li a{color: #291659; font-size: 1rem;}
.main_top .content_third ul li a i{background: #291659; display: block; width: 100px; height: 100px; border-radius: 50%; margin-bottom: 1rem;}
.main_top .content_third ul li:first-child a i::after{background: url(../img/icn_main_banner01.png)no-repeat 20px; content: ''; display: block; width: 100%; height: 100%;}
.main_top .content_third ul li:nth-child(2) a i::after{background: url(../img/icn_main_banner02.png)no-repeat 25px; content: ''; display: block; width: 100%; height: 100%;}
.main_top .content_third ul li:last-child a i::after{background: url(../img/icn_main_banner07.png)no-repeat 13px; content: ''; display: block; width: 100%; height: 100%;}
/* 메인탑 끝 */

/* 메인미드 시작 */
/* 타이틀 */
.main_mid{width: 100%; height: 525px; background: #f5f2fc;}
.main_mid .main_mid_inner{width: 1400px; margin: 0 auto; position: relative;}
.main_mid .main_mid_inner h3{font-size: 40px; font-weight: bold; padding: 3rem 0 1rem 0;}
.main_mid .main_mid_inner h3 strong{color: #765bcb;}
/* 타이틀 끝 */

/* 게시판 시작 */
.main_mid .main_mid_inner .notice_title_area{display: flex; width: 100%;  height: 100%;}
.main_mid .main_mid_inner .notice_title_area>button{border-radius: 15px; background-color: rgba( 118, 91, 203, 0.2 ); color: #291659; padding: 0 10px; cursor: pointer; margin-left: 15rem;}
.notice_title_text{font-size: 24px; margin: 0 1rem;}
/* 탭 메뉴 css */
.notice_title_text>a.on{background: rgba( 118, 91, 203, 0.2 ); color: #765bcb; height: 50%; display: inline-block; }
.notice_title_text>a.on+ul{display: flex;}
.notice_title_text>ul{display: none;justify-content: space-between; position: absolute; top: 11rem; left: 0; }

.notice_title_text>ul>li{ background: #fff; border-radius: 20px; padding: 2rem; width: 20%; margin-right: 1rem; height: 250px;}
.notice_title_area>li:not(:first-child)::before{content: "·"; margin-right: 1.5rem;color: gray;} 
.notice_title_text>ul>li:first-child{margin-left: 1rem;}
.notice_title_text>ul>li>.tab_index_top{font-size: 18px; font-weight: normal; padding-bottom: 1rem; border-bottom: 2px dashed #ddd; height: 50%; position: relative; overflow: hidden; text-overflow: ellipsis;}
.notice_title_text>ul>li>.tab_index_top>.write_time{ font-size: 14px; color: #aaa;position: absolute; bottom: 0; margin-bottom: 5px;}
.notice_title_text>ul>li>.tab_index_top>.write_time::before{content: ""; background: url(../img/icn_main_time.png)no-repeat; display: inline-block; width: 14px; height: 15px; margin-right: 5px;}
.notice_title_text>ul>li>.tab_index_bottom{font-size: 14px; font-weight: normal; color: gray; overflow: hidden; text-overflow: ellipsis;}

.menual_cols{width: 100%; height: 400px; background: #f5f2fc;}
.menual_line{width: 1400px; margin: 0 auto; height: 100%; display: flex; justify-content: space-between;}
.menual_line .menual{width: 1000px; height: 290px;}
.menual_line .menual img{height: 290px; width: 800px;}

.menual_line .giveangel{width: 39%; background: #ab99db url(../img/bg_main_giveangel.png)no-repeat right bottom; height: 290px; border-radius: 15px; margin-right: 1rem;}
.menual_line .giveangel h2{font-size: 1.5rem;}


/* 반응형 처리 */
@media screen and (max-width:1400px) {
    .notice_title_text > a.on + ul{width: 1300px;}
    .notice_title_text{font-size: 18px;}
    .notice_title_area{width: 92%;}
    .main_mid .main_mid_inner{width: 1300px;}
    .banner_inner ul li>span{font-size: 3rem;}
}

@media screen and (max-width:1370px) {
    .depth_height{display: none;}
    .quick_menu{display: none;}
    .quick_menu_remote{display: none;}
}

@media screen and (max-width:1350px) {
    .depth_height{display: none;}
    .quick_menu{display: none;}
    .quick_menu_remote{display: none;}
}

@media screen and (max-width:1300px) {
    .notice_title_text > a.on + ul{width: 1200px;}
    .notice_title_text{font-size: 17px;}
    .notice_title_area{width: 84%;}
    .main_mid .main_mid_inner{width: 1200px;}
}

@media screen and (max-width:1200px) {
    .depth_list ul li a h2{font-size: 18px; }
    .banner_inner{display: none;}
    .tale_text{display: none;}
    .banner{display: none;}
    .quick_menu{display: none;}
    .q_menu{display: none;}
    .main_top .content_third{width: 100%; right: 0;}
    .content_third ul{padding: 1rem 0;}

    .notice_title_text > a.on + ul{width: 1100px;}
    .notice_title_text{font-size: 13px;}
    .notice_title_area{width: 76%;}
    .main_mid .main_mid_inner{width: 1100px;}
}

@media screen and (max-width:1100px) {
    /* 게시판카드가 여기서부터 2*2형태로 변경 */
    .notice_title_text{font-size: 13px;}
    .notice_title_text > a.on + ul{flex-flow: column wrap; height: 41rem; align-items: center;}
    .notice_title_text > ul > li {margin-left: 1rem; width: 35%;}
    .main_mid .main_mid_inner .notice_title_area>button{margin-left: 8rem;}
    .notice_title_text > a.on + ul{width: 1000px;}
    .main_mid .main_mid_inner{width: 1000px;}
}
@media screen and (max-width:1024px) {
    /* large 테블릿 사이즈 */
    .notice_title_text{font-size: 13px;}
    .notice_title_text > a.on + ul{flex-flow: column wrap; height: 41rem; align-items: center;}
    .notice_title_text > ul > li {width: 35%;}
    .main_mid .main_mid_inner .notice_title_area>button{margin-left: 2rem;}
    .notice_title_text > a.on + ul{width: 900px;}
    .main_mid .main_mid_inner{width: 900px;}
}

@media screen and (max-width:1000px) {
    .depth_list ul li a h2{font-size: 17px;}
}

@media screen and (max-width:940px) {
    .depth_list ul li a h2{font-size: 13px;}
    .notice_title_text{font-size: 13px;}
    .notice_title_text > a.on + ul{flex-flow: column wrap; height: 41rem; align-items: center;}
    .notice_title_text > ul > li {margin-left: 0;}
    .main_mid .main_mid_inner .notice_title_area>button{display: none;}
    .notice_title_text > a.on + ul{width: 800px;}
    .main_mid .main_mid_inner{width: 800px;}
}

@media screen and (max-width:840px) {
    .depth_list ul li a h2{font-size: 11px; }
}
@media screen and (max-width:800px) {
    .notice_title_text{font-size: 13px;}
    .notice_title_text > a.on + ul{flex-flow: column wrap; height: 41rem; align-items: center;}
    .notice_title_text > ul > li {margin-left: 0;}
    .main_mid .main_mid_inner .notice_title_area>button{display: none;}
    .notice_title_text > a.on + ul{width: 700px;}
    .main_mid .main_mid_inner{width: 700px;}
    .notice_title_area>li:not(:first-child)::before{margin-right: .5rem;}
}

@media screen and (max-width:775px) {
    .depth_list ul{display: none;}
    #sel_depth{display: inline-block;}
}

@media screen and (max-width:700px) {
    .notice_title_text{font-size: 13px;}
    .notice_title_text > a.on + ul{flex-flow: column wrap; height: 41rem; align-items: center;}
    .notice_title_text > ul > li {margin-left: 0;}
    .main_mid .main_mid_inner .notice_title_area>button{display: none;}
    .notice_title_text > a.on + ul{width: 600px;}
    .main_mid .main_mid_inner{width: 600px;}
    .notice_title_area>li:not(:first-child)::before{margin-left:0;}
    .notice_title_area>li{margin: 0 10px;}
}

@media screen and (max-width:600px) {
    .notice_title_text{font-size: 13px;}
    .notice_title_text > a.on + ul{flex-flow: column wrap; height: 41rem; align-items: center;}
    .notice_title_text > ul > li {margin-left: 0; width:30%;}
    .main_mid .main_mid_inner .notice_title_area>button{display: none;}
    .notice_title_text > a.on + ul{width: 500px;}
    .notice_title_area>li:not(:first-child)::before{margin-left:0;}
    .main_mid .main_mid_inner{width: 500px;}
    .notice_title_area>li{margin: 0 5px;}
    .notice_title_text>ul>li>.tab_index_top{font-size:14px;}
    .notice_title_text>ul>li>.tab_index_bottom{font-size:12px;}
}

@media screen and (max-width:526px) {
    .header_utill>.pc{display: none;}
    .header_utill>.mobile{display: flex;}
    #menu_list{display: inline-block; height: 2.5em; margin-top: 5px; padding: 5px 0; margin-left: 1rem;}
    .mobile .menu_list_btn{display: flex; width: 100%; justify-content: space-between; min-width: 0;}
    .headerwrap .header_utill{min-width: 0;}
    .headerwrap .header_utill .mobile .menu_list_btn .lang{display: block; margin-right: 15px;}
    .headerwrap .header_utill .mobile .menu_list_btn .lang:hover a i{display: inline-block; ;}
    .headerwrap .header_utill .mobile .menu_list_btn .lang > a:first-child{display: inline-block;}
    .mobile .menu_list_btn>.lang>div{display: block;}
    .depth_wrap > .depth_area{min-width: 0;}
    .site_map{display: none;}
}

@media screen and (max-width:500px) {
    .notice_title_text{font-size: 13px; margin:0 1px;}

    .notice_title_text>ul>li:first-child{margin-left: 0;}
    .notice_title_text > ul > li {margin-left: 0; width:80%;  margin: 1rem 0;}
    .main_mid .main_mid_inner .notice_title_area>button{display: none;}
    .headerwrap .header_utill .mobile .menu_list_btn .lang{display: block; margin-right: 15px;}
    .notice_title_text > a.on + ul{width: 400px; flex-direction: row;}
    .notice_title_area>li:not(:first-child)::before{margin:0;}
    .main_mid .main_mid_inner{width: 400px;}
    .notice_title_area>li{margin: 0;}
    #main .main_mid{height:1600px;}
}

@media screen and (max-width:475px) {
    /* 모바일 */
    .mobile .menu_list_btn{width:90%;}
    .main_top{height: 300px;}
    .headerwrap .header_utill .mobile .menu_list_btn .lang{display: block; margin-right: 15px;}
    .main_top .content_third ul{padding: 4rem 0;}
    .main_mid_inner>h3{text-align:center;}
    .main_mid .main_mid_inner .notice_title_area{margin-left: 1rem;}
    .headerwrap .header_utill{min-width:475px;}
    .depth_wrap .depth_area{min-width:475px;}
    .mobile .menu_list_btn{width:100%;}
    #menu_list{margin-left: 1rem;}
    .notice_title_text > ul > li {height:15rem; margin-left: .5rem;}
    .notice_title_text>ul>li:first-child{margin-left: .5rem;}
}